
:host {
    display: flex;
    > * {
        flex: 1;
        &:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;
            background-color: rgba(255,255,255,0.05);
            flex: 0;
            transition: all .5s ease;
            padding-top: 30px;
            position: sticky;
            max-height: 500px;
            top: 20px;
            overflow: hidden;
            > i {
                cursor: pointer;
            }
            &.open {
                flex: 1;
            }
        }
    }
}

img {
    height: 50px;
}

.pi.favorite {
    cursor: pointer;
    color: var(--red-500);
    font-size: 1.2em;
}